/target
/.settings
/.classpath
/.project
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/jenkinsSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_h2database_h2_1_4_181.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/scopes/scope_settings.xml
/target
/velocity.log
/target
/target
/dependency-reduced-pom.xml
/pom.xml.bak
